language: php

php:
  - 5.6
  - 7.0

env:
  - DB=mysql

before_install:
  - if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then openssl aes-256-cbc -K $encrypted_38f96163e3a4_key -iv $encrypted_38f96163e3a4_iv -in .travis/deploy.key.enc -out .travis/deploy.key -d; fi
  - sudo apt-get update -qq
  - sudo apt-get install -qq python-docutils openjdk-7-jre

before_script:
  - if [[ "$DB" == "mysql" ]]; then mysql -e "create database IF NOT EXISTS phpofby;" -uroot; fi

script:
  - php phing.phar build-ci

addons:
  ssh_known_hosts: php.of.by

before_deploy: "export SYMFONY_ENV=prod && php phing.phar build-prod && export SYMFONY_ENV="

deploy:
  provider: script
  script: ./bin/deploy-to-prod.sh
  skip_cleanup: true
  on:
      tags: true
