language: php

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.yarn-cache
    - node_modules

php:
  - 7.1
  - 7.2

env:
  - DB=mysql

before_install:
  - if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then openssl aes-256-cbc -K $encrypted_38f96163e3a4_key -iv $encrypted_38f96163e3a4_iv -in .travis/deploy.key.enc -out .travis/deploy.key -d; fi
  - curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -
  - curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -
  - echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
  - sudo apt-get update -qq
  - sudo apt-get install -y -qq python-docutils nodejs yarn

before_script:
  - if [ "$DB" == "mysql" ]; then mysql -e "create database phpofby DEFAULT CHARACTER SET utf8 ; grant all on phpofby.* to 'symfony'@'localhost' identified by 'symfony';" -uroot; fi
  - phpenv config-add travis.php.ini

script:
  - php phing.phar build-ci

addons:
  ssh_known_hosts: php.of.by

before_deploy: "php phing.phar package"

deploy:
  provider: script
  script: ./bin/deploy-to-prod.sh
  skip_cleanup: true
  on:
      tags: true
