{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/front.css') }}"/>
{% endblock %}

{% block hero %}
    <div class="hero">
        <h1 class="title">PhpOfBy</h1>
        <h3><!-- Sample header --></h3>
    </div>
{% endblock %}

{% block content %}
    <div class="row intro">
        <div class="col c2">&nbsp;</div>
        <div class="col c4">
            <h3><!-- Sample header --></h3>
            <p><!-- Sample text --></p>
        </div>
        <div class="col c4">
            <h3><!-- Sample header --></h3>
            <p><!-- Sample text --></p>
        </div>
        <div class="col c2">&nbsp;</div>
    </div>

    <div class="row intro">
        <div class="col c2">&nbsp;</div>
        <div class="col c4">
            <h3><!-- Sample header --></h3>
            <p><!-- Sample text --></p>
        </div>
        <div class="col c4">
            <h3><!-- Sample header --></h3>
            <p><!-- Sample text --></p>
        </div>
        <div class="col c2">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col c2">&nbsp;</div>
        <div class="col c4">
            <h3 class="intro-title">О нас.</h3>
            <p>
                Мы молодое сообщество PHP разработчиков и не только. Регулярно проводим встречи, разбираем актуальные темы, обсуждаем новости из мира разработки, отвечаем на волнующие вопросы разработчиков, обсуждаем инструменты для разработки, качество кода и многое другое.
                Приглашаем известных людей из ИТ поделиться своим опытом.
            </p>
        </div>
        <div class="col c4">
            <h3 class="intro-title">Цели которые мы перед собой ставим:</h3>
            <p>
                <ul>
                    <li>Расширить границы PHP of BY, быть не только Минским сообществом, но и гораздо больше (стремимся к вселенскому господству)</li>
                    <li>Популяризация PHP, различных подходов и фреймворков</li>
                    <li>Обучение инженерным подходам и практикам</li>
                    <li>Популяризация участия в  open source проектах</li>
                    <li>Помощь в решении проблем</li>
                </ul>
            </p>
        </div>
        <div class="col c2">&nbsp;</div>
    </div>

    <div class="row intro">
        <div class="col c2">&nbsp;</div>
        <div class="col c8">
            <p>Присоединяйтесь к нашему сообществу через <a href="https://www.facebook.com/groups/minsk.user.group">нашу группу в Facebook</a>, предлагайте темы для обсуждения или выступайте со своей темой.</p>
        </div>
        <div class="col c2">&nbsp;</div>
    </div>

    <div class="row intro">
        <div class="col c4">
            <a href="https://www.facebook.com/groups/minsk.user.group"><img src="{{ asset('/bundles/phpofbywebsite/images/fb-link.png') }}"></a>
        </div>
        <div class="col c4">
            <a href="https://hoster.by"><img src="{{ asset('/bundles/phpofbywebsite/images/hosterby.png') }}"></a>
        </div>
        <div class="col c4">
            <a href="https://www.youtube.com/channel/UC1QF6l3BUs8b1i-DWqCquhw"><img src="{{ asset('/bundles/phpofbywebsite/images/youtube-link.png') }}"></a>
        </div>
    </div>

{% endblock %}
