{% set title = 'Правила Telegram канала' %}
{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col c2">&nbsp;</div>
        <div class="col c8">
            <h3 class="intro-title">Правила поведения в Telegram чате:</h3>
            <ol>
                <li>Запрещены объявления о поиске работников.</li>
                <li>Запрещены оскорбления и высказывания, умаляющие достоинство.</li>
                <li>Без голосовых сообщений</li>
                <li>Без открытых вопросов в стиле “есть кто-нибудь кто работал с XXX - лучше сразу конкретизировать (смотри <a href="https://nometa.xyz/" rel="nofollow">https://nometa.xyz/</a>)</li>
            </ol>
        </div>
        <div class="col c2">&nbsp;</div>
    </div>
{% endblock content %}
