{% set title = 'Правила Telegram канала/Telegram channel rules' %}
{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col c2">&nbsp;</div>
        <div class="col c8">
            <h3 class="intro-title">Правила поведения в Telegram чате/ Telegram channel rules:</h3>
            <ol>
                <li>Запрещены объявления о поиске работников. / Hiring is forbidden.</li>
                <li>Запрещены оскорбления и высказывания, умаляющие достоинство. / Insults and statements that belittle dignity are prohibited. </li>
                <li>Без голосовых сообщений. / No voice messages.</li>
                <li>
                    Без открытых вопросов в стиле “есть кто-нибудь кто работал с XXX?" - лучше сразу конкретизировать (смотри <a href="https://nometa.xyz/" rel="nofollow">https://nometa.xyz/</a>) /
                    No open questions like "does somebody know about XXX?" - it is better to ask concrete question (look <a href="https://www.nohello.com/" rel="nofollow">https://www.nohello.com/</a>)
                </li>
            </ol>
        </div>
        <div class="col c2">&nbsp;</div>
    </div>
{% endblock content %}
