<nav class="nav" tabindex="-1" onclick="this.focus()">
    <div class="container">
        <a class="pagename current" href="{{ path('home') }}">PhpOfBy</a>
        <a href="https://github.com/PHP-Belarus/php.of.by/tree/master/doc">Docs</a>
        <a href="https://github.com/PHP-Belarus/php.of.by">Github</a>
    </div>
</nav>
<button class="btn-close btn btn-sm">×</button>
